.page__footer {
    padding: 100px;
    background-color: #0c474b;
    font-family: 'Poppins', sans-serif;
    color: #b6c8c9;
    display: flex;
    flex-direction: column;
}

.t3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
}

a {
    text-decoration: none;
    color: #b6c8c9;
}

ul {
    list-style: none;
}

.list-icons {
    display: flex;
    gap: 10px;
    padding: 0px;
    margin-top: 20px;
}

.arrow-up {
    display: flex;
    justify-content: flex-end;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .page__footer {
        flex-direction: row;
        justify-content: space-between;
}
    .arrow-icon {
        display: flex;
        height: fit-content;
        align-self: end; /* Para situar la flecha en la parte baja */
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

}