@use "../core/variables" as vars;

.page__header {
    padding: 20px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
/* Mobile */
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
}

.menu-hamburger {
    width: 40px;
    height: 40px;
    position: fixed;
}

.logo {
    max-width: 90%;
    height: auto;
}

/* texto y botón del header */
.first-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 74px;
    margin-top: 250px;
    color: #0c474b;
}

h1 {
    font-family: vars.$mainFont;
    font-weight: 600;
    font-size: 36px;
}

button {
    width: 180px;
    height: 50px;
    font-family: vars.$mainFont;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #0c474b;
    &:hover {
        background-color: #FF975A;
        color: #0c474b;
    }
}

/* Tablet */
@media screen and (min-width: 900px) {
    .first-module {
        gap: 0;
        align-items: flex-start;
    }
    
    .logo {
        max-width: 40%;
    }

}

/* Desktop (en mi pc solo puedo ver esta vista con un min-width de 1024px pero lo dejo en 1728px porque así lo pide el ejercicio) */
@media screen and (min-width: 1728px) { 
    .menu-hamburger {
        display: none;
    }

    .logo {
        max-width: 15%;
    }

    .links {
        display: flex;
        gap: 40px;
        li {
            list-style: none;
            a {
               text-decoration: none;
               font-family: vars.$mainFont;
               color: vars.$fontColor;
            }
        }
    }

    .menu-header {
        justify-content: flex-start;
        margin-left: 150px;
    }

    .logo {
        margin-left: 100px;
    }

    .first-module {
        /*gap: 0;*/
        align-items: flex-start;
        margin: 150px;

    }

}