.page__main {
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    wrap: wrap
}

/* CSS del Segundo módulo */
.first-article {
    padding: 40px;
    background-color: #f0ebe5;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #0c474b;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}

/* CSS del Tercer módulo */
.second-article {
    padding: 40px;
    background-color: #ff975a;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* CSS del Cuarto módulo */
.third-article {
    padding: 0px;
    background-color: #f0ebe5;
    color: #0c474b;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-container img {
    display: flex;
    width: 100%;
}

.text-container {
    padding: 40px;
}

.buy-now {
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
}

/* Tablet */
@media screen and (min-width: 768px) {

    /* CSS del Segundo módulo */
    .first-article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }

    .header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .post-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .post-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .post-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }
   
}

/* Desktop */
@media screen and (min-width: 1024px) {
    
    /* CSS del Cuarto módulo */
    .third-article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        place-items: center;
    }

    .text-container {
        text-align: left;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    .image-container {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

}