<!-- Quinto módulo (footer) -->

<footer class="page__footer">
    <nav class="column1">
        <ul class="list">
            <li class="t3">Tienda</li>
            <li><a href="https://adalab.es/" class="links-footer">Productos</a></li>
            <li><a href="https://adalab.es/" class="links-footer">Cajoneras</a></li>
            <li><a href="https://adalab.es/" class="links-footer">Para toda la casa</a></li>
            <li><a href="https://adalab.es/" class="links-footer">Habitaciones</a></li>
        </ul>
    </nav>
    <nav class="column2">
        <ul class="list">
            <li class="t3">Nosotros</li>
            <li><a href="https://adalab.es/" class="links-footer">Nuestra guía</a></li>
            <li><a href="https://adalab.es/" class="links-footer">Nuestro diseño</a></li>
            <li><a href="https://adalab.es/" class="links-footer">Nuestra historia</a></li>
            <li><a href="https://adalab.es/" class="links-footer">Ayuda</a></li>
        </ul>
    </nav>
    <nav class="column3">
        <ul class="list">
            <li class="t3">Contacto</li>
            <li>ayuda@openspaces.com</li>
            <li><a href="https://adalab.es/" class="links-footer">Socios</a></li>
            <ul class="list-icons">
                <li>
                    <a href="https://adalab.es/">
                        <img src="./images/brand-linked-in.png" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="https://adalab.es/">
                        <img src="./images/brand-instagram.png" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="https://adalab.es/">
                        <img src="./images/brand-twitter.png" alt="Twitter">
                    </a>
                </li>
            </ul>
        </ul>
    </nav>
    <div class="arrow-icon">
        <a href="#top" class="arrow-up">
            <img src="./images/arrow-short-up.png" alt="">
        </a>
    </div>
</footer>
