<!-- Primer módulo (Disfruta creando espacios) -->

<header class="page__header">
    <div class="nav-header">
        <img src="./images/menu-hamburger@3x.png" alt="menu" class="menu-hamburger">
        <ul class="links">
            <li><a href="">Productos</a></li>
            <li><a href="">Colecciones</a></li>
            <li><a href="">Tienda</a></li>
            <li><a href="">Inicio</a></li>
        </ul>
        <img src="./images/elegante-logotipo-con-hoja-1@2x.png" alt="logo" class="logo">
        <div></div>
    </div>
    <div class="first-module">
        <h1>Disfruta creando espacios</h1>
        <button>Comprar Ahora</button>
    </div>
</header>
